
.header li {
  font-size: 30px;
  color:rgba(237, 155, 15, 0.926);
  font-weight: bold;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: rgb(94, 84, 67);
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom-width: 5px;
  border-bottom-color: rgb(241, 185, 30);
  border-style: solid;
  margin-bottom: 25px;
}

li {
  display: inline-block;
  margin: 15px;
  padding-right: 25px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-div {
    position: relative;
    top: -180px;
    margin-left: auto;
    border-radius: 5px;
    border-style:inset;
    border-color:antiquewhite;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    margin-right: 10px;
    background-color: rgb(135, 119, 91);
    font-weight: bolder;
    color: white;
    text-align: center;
    justify-content: center;
    display: block;
    width: 20%;
    height: 600px;
}

input {
  border-width: .75px;
  border-style: solid;
  border-color: rgb(194, 194, 194);
  border-radius: 5px;
  margin-bottom: 25px;
  padding: 5px;
}

.list {
  position: relative;
  border-radius: 5px;
  border-style: inset;
  border-color: antiquewhite;
  padding-top: 25px;
  margin-top: 50px;
  margin-left: 10px;
  background-color: rgb(135, 119, 91);
  font-weight: bolder;
  color: white;
  text-align: left;
  justify-content: center;
  display: block;
  width: 20%;
}

.textarea {
  padding: 5px;
  border-style: solid;
  border-width: .5px;
  border-color:rgb(194, 194, 194);
  background-color: rgb(255, 255, 255);
  height: 100px;
  border-radius: 10px;
  max-width: 300px;
  margin-bottom: 25px;
}

.card-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  height: 800px;
  flex-direction: row;

}

.card {
  margin: 5px;
  border-radius: 2px;
  width: 300px;
  height: 150px;
  overflow: hidden;



}
img {
  position: relative;
  top: -23px;
  width: 100%;
  height: 100%;
}

.name {
  z-index: 0;
  position: relative;
  top: -75px;
  color: white;
}

.list h1 {
  padding-left: 40px;
}

.heart {
  scale: 2;
  padding-left: 4px;
  padding-bottom: 4px;
  float: left;
  color: rgb(255, 255, 255);
  position: relative;
  top: 130px;
  z-index: 2;

}

.search-btn {
  height: 25px;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
  margin-left: 15px;

}

.park-container {
  margin-top: none;
  padding: 15px;
  text-align: left;
  background-color:rgb(135, 119, 91);
  width: 40%;
  position: absolute;
  top: 200px;

  left: 300px;
  border-radius: 5px;
  color: white;
  height: 650px;
  display: block;
  margin-left: auto;
  margin-right: auto;



}

.img-container {
padding: 15px;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}


.park-container h1 {
  font-size: 40px;
  text-align: center;
}

.park-container h3 {
  padding-left: 15px;
}

.activities li {
  margin-bottom: 0;
font-size: 13px;
width: 200px;
line-height: 15px;
padding: 0px;
text-align: left;
position: relative;
left: -40px;
top: -15px;

color: rgb(255, 255, 255);
}



.park-name {
  position: relative;
  top: -190px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:400;
  color: white;
  width: 75%

}

.image-container {
  position: relative;
  top: -150px;
  padding: none;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  text-decoration: none;
}

.image-container h1{
  z-index: 2;
  position: relative;
  top: 350px;
}


.trip {
  text-decoration: ;
}



.links {
  color: white;
  text-decoration: none;
}
.links:hover {
  color: black;
}

.checkbox {
      background-color: initial;
      cursor: default;
      appearance: auto;
      box-sizing: border-box;
      margin: 3px 3px 3px 4px;
      padding: initial;
      border: initial;
      position: relative;
      
  }

